{
  "extends": "@wordpress/stylelint-config/scss",
  "ignoreFiles": [
	  "**/*.js",
	  "node_modules/**/*.css",
	  "vendor/**/*.css",
	  "assets/dist/**/*.css"
  ],
  "rules": {
    "scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "config",
          "apply",
		  "layer",
          "responsive",
          "screen",
          "tailwind",
          "theme",
		  "source"
        ]
      }
    ],
	"at-rule-empty-line-before": [
      "always",
      {
        "ignoreAtRules": [
          "tailwind",
          "apply",
          "variants",
          "responsive",
          "screen",
		  "import",
		  "theme",
		  "source"
        ]
      }
    ],
	"rule-empty-line-before": [
		"always",
		{
			"ignore": ["first-nested" ]
		}
	],
	"no-descending-specificity": null,
	"no-invalid-position-at-import-rule": null,
	"selector-class-pattern": null,
	"selector-id-pattern": null
  }
}
